.App {
  text-align: center;
}

#login {
  border: lightgray;
  margin: 0 auto;
  padding-top: 80px;
}

#button-login {
  background-color: #57BC90;
  border: lightseagreen;
  color: white;
}

#button-signup {
  background-color: #57BC90;
  border: lightseagreen;
  color: white;
  margin-top: 30px;
}
