.App {
  text-align: center;
}

#button-logout {
  background-color: #57BC90;
  border: lightseagreen;
  color: white;
}

#select {
  margin-bottom: 40px;
  margin-top: 20px;
  width: 30%;
}

#addplant {
  background-color: #57BC90;
  border: lightseagreen;
  color: white;
  margin-left: 20px;
  margin-bottom: 20px;
}

.card {
  padding: 20px;
  width: 30%;
  float: left;
  margin: 6px;
  position: relative;
  z-index: 1;
  display: block;
  background: #FFFFFF;
  min-width: 270px;
  height: 450px;
  -webkit-box-shadow: 0px 1px 2px 0px rgba(0, 0, 0, 0.15);
  -moz-box-shadow: 0px 1px 2px 0px rgba(0, 0, 0, 0.15);
  box-shadow: 0px 1px 2px 0px rgba(0, 0, 0, 0.15);
  -webkit-transition: all 0.3s linear 0s;
  -moz-transition: all 0.3s linear 0s;
  -ms-transition: all 0.3s linear 0s;
  -o-transition: all 0.3s linear 0s;
  transition: all 0.3s linear 0s;
}
